@model Ideia
@{
	List<string> equipe = new();
}
<table class="table table-sortable" id="table-falhas">
	<thead>
		<tr>
			<th>
				Equipe
			</th>
			<th>
				Data
			</th>
			<th>
				Descição
			</th>
			<th>
				Ganho
			</th>
			<th>
				Investimento
			</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.GetIdeias())
		{
			<tr>
				@if (item.NomeEquipe != null)
				{
					<td data-label="Quem Identificou a Falha:">
						@Html.DisplayFor(modelItem => item.NomeEquipe)
					</td>
				}
				else
				{
					equipe.Clear();
					foreach (var func in item.EquipeIdeia)
					{
						equipe.Add(func.Funcionario.Nome);
					}
					<td data-label="Quem Identificou a Falha:">@string.Join(",",equipe)</td>
				}
				<td data-label="Data:">
					@Html.DisplayFor(modelItem => item.Data)
				</td>
				<td data-label="Descrição:">
					@Html.DisplayFor(modelItem => item.Descricao)
				</td>
				<td data-label="Ganho:">
					@Html.DisplayFor(modelItem => item.Ganho)
				</td>
				<td data-label="Investimento:">
					@Html.DisplayFor(modelItem => item.Investimento)
				</td>
			</tr>
		}
	</tbody>
</table>